<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaas.demo.artvc">

    <application
        android:name=".App"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MultimediaActivity" />
        <activity android:name=".artvc.CallActivity"/>
        <activity android:name=".artvc.ARTVCActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".artvc.SettingsActivity"/>
    </application>

</manifest>
